<section>
  <div class="container">
    <div class="row mt-5 pt-5">
      <div class="col-md-12 text-center">
        <div class="logo">
          <a href="#">
            <img src="../../../assets/backgrounds/LOGO.png" class=" img-fluid" alt="CAMPOSANTO">
          </a>
        </div>
      </div>
    </div>
    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase">
          <a class= "footer-item" routerLink="/home/busqueda">BUSCAR DIFUNTOS</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase">
          <a class= "footer-item" routerLink="/">PAQUETES</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase">
          <a class= "footer-item" routerLink="/">SOBRE NOSOTROS</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase ">
          <a class= "footer-item" routerLink="/">CONTACTO</a>
        </h6>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

    <!-- Grid row-->
    <div class="row pb-3 text-center">

        <!-- Grid column -->
        <div class="col-md-12">
  
          <div class="mb-5 flex-center text-center">
  
            <!-- Facebook -->
            <a class="fb-ic">
              <i class="mr-4"><img class="social-icon-fb" src="../../../assets/icons/FACEBOOK.png"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="mr-4"><img class="social-icon" src="../../../assets/icons/TWITTER_VERDE.png"> </i>
            </a>
            <!-- Instagram  -->
            <a class="gplus-ic">
              <i class=" mr-4"><img class="social-icon" src="../../../assets/icons/INSTAGRAM.png"></i>
            </a>
            
  
          </div>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
      
  </div>
 
</section>
