<section>
  <div class="container">
    <div class="row mt-5 pt-5">
      <div class="col-md-12 text-center">
        <div class="logo">
          <a href="#">
            <img src="../../../assets/backgrounds/LOGO.png" class=" img-fluid" alt="CAMPOSANTO">
          </a>
        </div>
      </div>
    </div>
    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase">
          <a class="footer-item" routerLink="/home/busqueda">BUSCAR DIFUNTOS</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase">
          <a class="footer-item" routerLink="/home/paquetes">PAQUETES</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase">
          <a class="footer-item" routerLink="/home/nosotros">SOBRE NOSOTROS</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase ">
          <a class="footer-item" routerLink="/home/contacto">CONTACTO</a>
        </h6>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

    <!-- Grid row-->
    <div class="row pb-3 text-center">

      <!-- Grid column -->
      <div class="col-md-12">

      

        <div class="p-3">
          <div class="d-flex justify-content-center">
            <div class="" *ngFor= "let red of redes">
              <button *ngIf="red.nombre == 'facebook'" type="button" class="btn btn-social-icon btn-facebook">
                <a href ={{red.link}} target="_blank"><img class="social-icon-fb" src="../../../assets/icons/FACEBOOK.png" width="25" height="30"></a>
              </button>

              <button *ngIf="red.nombre == 'twitter'" type="button" class="btn btn-social-icon btn-twitter">
                <a href ={{red.link}}  target="_blank"> <img class="social-icon"  src="../../../assets/icons/TWITTER_VERDE.png" width="30" height="30"></a>
              </button>

              <button type="button" *ngIf="red.nombre == 'instagram'"  class="btn btn-social-icon btn-instagram">
                <a href ={{red.link}} target="_blank"><img class="social-icon"  src="../../../assets/icons/INSTAGRAM.png" width="30" height="30"></a>
              </button>
            </div>
          </div>
      </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>

</section>
