<div class="row py-3">
  <div class="col-md-12 col-xs-12 col-lg-12 pt-25 text-center">
    <h2>CONTAC<span class="border-title">TO</span></h2>
  </div>
</div>
<div class="container-fluid">
  <div class="row ml-5 mr-5">
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
      <input placeholder="Nombre" type="text" class="form-control">
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
      <input placeholder="Correo electrónico" type="text" class="form-control">
    </div>

  </div>
  <div class="row pt-3 ml-5 mr-5">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <textarea placeholder="Escribir aquí" type="text" class="form-control" rows="6"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center pb-2 pt-2">
      <button type="submit" class="btn-send">ENVIAR</button>
    </div>
  </div>
</div>