<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="title-home">RINDE HOMENAJE A TUS SERES QUERIDOS</h1>
        <button class="btn-buscar" routerLink="/home/busqueda">BUSCAR SERES QUERIDOS</button>
      </div>
    </div>
  </div>
</header>
<section class="py-5 paquete">
  <div class="container text-center pb-4">
    <h2 class="active">PAQUET<span class="border-title">ES</span></h2>
  </div>
  <div class="row d-flex justify-content-center cont">
    <div class="col-md-1 cols-xs-1 col-sm-1 text-center element">
      <mat-icon (click)="prev()">arrow_back</mat-icon>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-8 text-center">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)">
        <div ngxSlickItem class="slide" *ngFor="let paq of paquetes">
          <mat-card class="example-card mat-elevation-z4">
            <img mat-card-image src={{url_backend}}{{this.paq.imagen}}
              alt={{this.paq.imagen}}>
            <mat-card-header class="text-center">
              <mat-card-title >{{paq.nombre | titlecase}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <!-- <p>
                {{ (paq.descripcion.length>120)? (paq.descripcion | slice:0:120)+'...':(paq.descripcion) }}
              </p> -->
              <p>{{paq.descripcion}} </p>
            </mat-card-content>
            <mat-card-actions class="d-flex justify-content-between">
              <p class="precio">{{paq.precio| currency : 'USD'}}</p>
              <a class="precio">COMPRAR</a>
            </mat-card-actions>
          </mat-card>
        </div>  
      </ngx-slick-carousel>

    </div>
    <div class="col-md-1 cols-xs-1 col-sm-1 text-center element">
      <mat-icon (click)="next()">arrow_forward</mat-icon>
    </div>
  </div>

</section>

<section class="suggestions">
  <div class="container text-center pt-5">
    <h2>SUGERENCI<span class="border-title-w">AS</span></h2>
  </div>
  <div class="container-fluid  text-center align-items-center">
    <form>
      <div class="row ml-5 mr-5">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="row mt-3 mb-3">
            <input type="text" class="form-control" placeholder="Correo electrónico">
          </div>
          <div class="row mt-3 mb-3">
            <input type="text" class="form-control" placeholder="Nombre">
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <textarea class="form-control mt-3 mb-3" rows="6" placeholder="Escribir aquí"></textarea>
        </div>
      </div>
      <div class="row mt-2 mb-2 align-items-center">
        <div class="col-md-8 col-xs-12 col-sm-12 text-center">
          <small>Para enviar sugerencias o reclamos debes iniciar sesión. Inicia sesión <a
              routerLink="/home/login">aquí.</a></small>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-12 text-center">
          <button class="btn-send">ENVIAR</button>
        </div>
      </div>
    </form>
  </div>
</section>
