<div class="row">
  <div class="col-md-12 col-xs-12 col-lg-12 pt-50 text-center">
    <h2>PAQUET<span class="border-title">ES</span></h2>
  </div>
</div>

<div class="container-fluid py-3">
	<div *ngIf="!this.loaded">
		<div class="spinner-border text-center" role="status">
			<span class="sr-only">Loading...</span>
		  </div>
	</div>
    <div class="row form-group product-chooser" *ngIf="this.loaded">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" *ngFor="let paq of paquetes">
    		<div class="card product-chooser-item equal-height">
    			<img src={{url_backend}}{{this.paq.imagen}}
				alt={{this.paq.imagen}} class="img-rounded col-xs-3 col-sm-3 col-md-12 col-lg-12">
                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12 card-body d-flex flex-column">
    				<span class="title">{{paq.nombre}}</span>
					<span class="description justify-content-around">{{paq.descripcion}}</span>
					<div class="d-flex justify-content-between mt-auto ">
						<p class="price">{{paq.precio| currency : 'USD'}}</p>
						<a class="price" style="color: #a3c442;" data-toggle="modal" data-target="#comprarModal">COMPRAR</a>
					</div>
    			</div>
    			<div class="clear"></div>
    		</div>
		</div> 
    </div>
</div>

<div class="modal fade" id="comprarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Comprar paquete</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  La opción no se encuentra disponible todavía.
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
		</div>
	  </div>
	</div>
  </div>