<div class="row mb-3 mt-3 ml-1 mr-1">
    <mat-card class="example-card mat-elevation-z2">
      <div class="d-flex justify-content-between">
        <div>
          <mat-card-title>{{this.author_first_name|uppercase}} {{this.author_last_name|uppercase}} </mat-card-title>
        </div>
        <div>
          <mat-card-subtitle>{{this.dateCreated| date:'M/d/yyyy HH:mm a':'+0:00' }}</mat-card-subtitle>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center" >
                <audio controls preload="metadata" width="auto" >
                  <source src={{url_backend}}{{this.audio}} type="audio/mpeg">
                  <source src={{url_backend}}{{this.audio}} type="audio/ogg">
                </audio>
        </div>
        <mat-card-content class="col-md-12 col-sm-12 col-xs-12">
          <p class="mensaje">
            {{this.message}}
          </p>
        </mat-card-content>
      </div>
      <mat-card-actions *ngIf="this.user_id == this.author_id" class="d-flex justify-content-end">
        <button (click)="submit()" mat-button><mat-icon>delete</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>
  