<div class="row mb-3 mt-3 ml-1 mr-1">

  <mat-card class="example-card mat-elevation-z2">
    <div class="d-flex justify-content-between">
      <div>
        <mat-card-title>{{this.author_first_name|uppercase}} {{this.author_last_name|uppercase}} </mat-card-title>
      </div>
      <div>
        <mat-card-subtitle>{{this.dateCreated| date:'MMM d, y HH:mm a':'+0:00' }}</mat-card-subtitle>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <video id="my_video_1" class="video-js vjs-default-skin" width="auto" height="360px" controls
          preload="metadata" data-setup='{ "aspectRatio":"240:167", "playbackRates": [1, 1.5, 2] }' playsinline>
          <!-- <source src='{{url_backend}}{{this.video}}?ngsw-bypass=true' type='video/mp4' /> -->
          <source src={{url_backend}}{{this.video}} type="video/mp4" />
          <source src='{{url_backend}}{{this.video}}?ngsw-bypass=true' type="video/ogg; codecs=theora, vorbis" />
          <source src='{{url_backend}}{{this.video}}?ngsw-bypass=true' type="video/webm; codecs=vp8, vorbis" />
        </video>
        <!-- <video class="video-background" controls playsinline muted preload="yes" id="myVideo">
            <source src='{{url_backend}}{{this.video}}?ngsw-bypass=true' type="video/mp4">
            Sorry, your browser doesn't support embedded videos...
          </video> -->
      </div>
    </div>
    <div class="row">
      <mat-card-content class="col-md-12 col-sm-12 col-xs-12">
        <p class="mensaje">
          {{this.message}}
        </p>
      </mat-card-content>
    </div>
    <mat-card-actions *ngIf="this.user_id == this.author_id" class="d-flex justify-content-end">
      <button (click)="submit()" mat-button><mat-icon>delete</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</div>
