<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
  src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v8.0&appId=921830748297038&autoLogAppEvents=1"
  nonce="9SKjCHOx"></script>

<header id="header" class="fixed-top">
  <!-- <h1 class="logo mr-auto"><a href="index.html">Camposanto</a></h1> -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <!-- <a class="navbar-title" href="#">{{this.camposanto.nombre | uppercase}}</a> -->
    <a href="#" class="navbar-brand mt-0 pt-0">
      <!-- Logo Image -->
      <img src="../../../assets/backgrounds/LOGO.png" alt="" class="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ml-5">
          <a class="nav-link" routerLink="/home/busqueda" routerLinkActive="active">BUSCAR DIFUNTOS</a>
        </li>
        <li class="nav-item ml-5">
          <a class="nav-link" routerLink='/404/'>PAQUETES</a>
        </li>
        <li class="nav-item ml-5">
          <a class="nav-link" routerLink='/404/'>SOBRE NOSOTROS</a>
        </li>
        <li class="nav-item ml-5">
          <a class="nav-link" routerLink='/404/'>CONTACTO</a>
        </li>

        <li class="nav-item ml-5" *ngIf="!getStatus()">
          <button class="btn-login" id="dropdownSignUp" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">INICIAR SESIÓN</button>
          <div class="dropdown-menu dropdown-menu-right form-wrapper" aria-labelledby="dropdownSignUp">
        <li>
          <form [formGroup]="form_login" (submit)="submit()">
            <p class="text-center font-weight-bold">INICIAR SESIÓN</p>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Username" required="required"
                formControlName="username">
              <span class="text-danger small"
                *ngIf="form_login.controls['username'].touched && form_login.controls['username'].hasError('required')">
                <small>Por favor ingrese su nombre de usuario.</small> </span>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Contraseña" required="required"
                formControlName="contrasena">
              <span class="text-danger small"
                *ngIf="form_login.controls['contrasena'].touched && form_login.controls['contrasena'].hasError('required')">
                <small>Por favor ingrese su contraseña.</small> </span>
              <div class="text-right">
                <span><small><a routerLink="/404" routerLinkActive="router-link-active">¿Olvidaste tu
                      contraseña?</a></small></span>
              </div>
            </div>
            <div class="form-group text-center">
              <button type="button" class="btn btn-primary botonFacebook" (click)="loginWithFacebook()">
                <fa-icon class="mr-3" [icon]="faFacebookF"></fa-icon>
                <span><small>Acceder con <strong>Facebook</strong></small></span>
              </button>
            </div>
            <div class="text-center p-2">
              <small>¿Eres nuevo? <span><a routerLink="/home/register" routerLinkActive="router-link-active">Registrate
                    aquí</a></span></small>
            </div>
            <button type="submit" class="btn-login btn-block">INICIAR SESIÓN</button>
          </form>
        </li>

    </div>
    </li>

    <li class="nav-item ml-5 mt-0 pt-0  dropdown" *ngIf="getStatus()">
      <a class="nav-link mt-0 pt-0" id="navbarDropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <img class="navbar-img" src="../../../assets/icons/AVATAR.png">
      </a>

      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
        <div class="text-center">
          <img class="avatar" src="../../../assets/icons/AVATAR.png">
        </div>
        <p class="dropdown-item username" (click)="redirectToProfile()">
          {{this.displayName | titlecase}}
        </p>
        <mat-divider class="light"></mat-divider>

        <a class="dropdown-item" routerLink="/home/favoritos">
          <img class="bookmark"
            src="../../../assets/icons/DIFUNTOS_GUARDADOS.png" />
          <small class="saved">Difuntos guardados</small>
        </a>
        <mat-divider class="strong"></mat-divider>
        <div class="text-center">
          <small><a class="dropdown-item" (click)="logout()" class="logout">
              Cerrar sesión
            </a></small>
        </div>
      </div>
    </li>
    </ul>
    </div>
  </nav>
</header>
