.border-title {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: rgb(163, 196, 66);
}

.content {
  display: flex;
}

.content img {
  margin-right: 10px;
  display: block;
}

.content h3,
.content p {margin: 0;}

.sebm-google-map-container {
  height: 300px;
}